<p>Click the link below to reset your password:</p>
<p><a href="{{url}}" class="button">Reset password</a></p>
<p>Or copy and paste this URL into your browser:</p>
<p><a href="{{url}}">{{url}}</a></p>
